@import '../../partials/responsive-property';

.header {
  display: flex;
  padding: 0.25rem 5%;
  align-items: center;
  min-height: 70px;
  background-color: var(--background);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);

  > * {
    flex: 1;
  }

  > button {
    position: absolute;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--primary);
    z-index: 999999;
    @include responsive-property(display, block, none);
  }

  > nav > ul {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    color: var(--tertiary);
    > li > a {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 100%;
        width: 120%;
        left: 0;
        translate: -10% 0;
        height: 0.75rem;
        background-color: transparent;
        border-bottom: 0.125rem solid var(--primary);
        display: none;
      }

      &.active {
        color: var(--primary);
      }

      &:hover::after {
        display: block;
        opacity: 0.25;
      }

      &.active::after {
        display: block;
        opacity: 1;
      }

      &.transitioning::after,
      &.pending::after {
        transition: opacity 1s;
      }
    }
  }

  > nav {
    @media screen and (width <= 30rem) {
      position: absolute;
      z-index: -1;
      inset: 0;
      overflow: hidden;
      > ul {
        position: absolute;
        inset: 0 0 0 100%;
        justify-content: flex-start;
        flex-direction: column;
        backdrop-filter: blur(0.5rem);
        padding: 4rem 1.5rem;
        transition: left 0.4s ease-out;
      }
      &.active {
        z-index: 9999;
        > ul {
          left: 40%;
        }
      }
    }
  }
}
