@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark light;

    --primary: #2ecc71;
    --secondary: #3498db;
    --tertiary: #d5dbdb;
    --accent: #f39c12;
    --dark: #333333;
    --light: #f9f9f9;
  }
}

html,
body,
#root {
  background: linear-gradient(180deg, #333333 0%, #000000 100%);
  color: white;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  max-width: 1024px;
  margin-inline: auto;
  padding: 2rem 0;
}
